*{
    box-sizing: border-box;
}
html, body{
    margin: 0%;
    padding: 0%;
}
body#home{
    background-image: url(images/cat.jpg);
    background-size: 100%;
}
body#tutorial{
    background-image: url(images/cat.jpg);
    background-size: 20%;
    animation: cat 40s infinite linear;
}
body#calculation{
    background-image: url(images/cat.jpg);
    background-size: 100%;
}
@keyframes cat{
    from{background-position: 0% 0%;}
    to{background-position: -100% -88%;}
}
nav{
    width: 100%;
    height: 810px;
}
blockquote{
    background-color: rgba(168, 248, 8, 0.602);
    color: yellow;
    width: 400px;
    height: 300px;   
}
div#head{
    background-color: rgb(138, 138, 138);
    padding: 25px;
    font-size: 30px;
    box-shadow: -7px 5px 20px black;
    position: fixed;
    width: 100%;
}
div a{
    font-family: agency FB;
    color: white;
    text-decoration: none;
    float: right;
    padding: 0 20px;
    margin-top: -8px;
}
.under::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 5, 5);
    transition: width .3s;
}
.under:hover::after{
    width: 100%;
    transition: width .3s;
}
.under:hover{
    transform: scale(1.2);
}

.data{
    height: 600px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -650px;
    margin-left: 50px;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

button{
    background-color: bisque;
}
