body#about_me{
    background-image: url(images/cat.jpg);
    background-size: 100%;
}
table{
    margin: auto;
    margin-top: -650px;
}
td{
    border: 4px gold solid;
}
img{
    transition-duration: 0.3s;
    height: 200px;
}
img:hover{
    transform: scale(1.3);
    transition-duration: 0.3s;
}
.cell1{
    height: 200px;
    width: 200px;

}
.cell2{
    width: 400px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.472);
    font-family: agency FB;
    font-size: 20px;
}
.down{
    transition-duration: 0.5s;
    display: block;
    background-color: rgba(255, 217, 0, 0);
    width: 0px;
    content: "";
}
.down:hover{
    transition-duration: 0.5s;
    background-color: gold;
    width: 100%;
    
}